<?xml version='1.0' encoding='utf-8'?>
<widget id="com.player100regras" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>player100Regras</name>
    <description>
        Aplicativo player100Regras
    </description>
    <author email="jtiggerks@gmail.com" href="perfiljt.com.br">
        player100Regras
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="15" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#1bb394" />
    <preference name="StatusBarStyle" value="blacktranslucent" />
    <plugin name="cordova-plugin-statusbar" source="npm" spec="~2.1.3" />

 
    <plugin name="cordova-plugin-console" source="npm" spec="~1.0.3" />
    
    <plugin name="cordova-plugin-device" spec="https://github.com/apache/cordova-plugin-device.git#1.0.0" />
 
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
    <platform name="android">
        <icon density="ldpi" src="www/res/icon/android/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="www/res/icon/android/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="www/res/icon/android/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="www/res/icon/android/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="www/res/icon/android/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="www/res/icon/android/drawable-xxxhdpi-icon.png" />


        <splash density="port-hdpi" src="www/res/screen/android/screen-hdpi-portrait.png" />
        <splash density="land-hdpi" src="www/res/screen/android/screen-hdpi-landscape.png" />

        <splash density="land-ldpi" src="www/res/screen/android/screen-ldpi-landscape.png" />
        <splash density="port-ldpi" src="www/res/screen/android/screen-ldpi-portrait.png" /> 
              
        <splash density="land-mdpi" src="www/res/screen/android/screen-mdpi-landscape.png" />  
        <splash density="port-mdpi" src="www/res/screen/android/screen-mdpi-portrait.png" />

        <splash density="land-xhdpi" src="www/res/screen/android/screen-xhdpi-landscape.png" />
        <splash density="port-xhdpi" src="www/res/screen/android/screen-xhdpi-portrait.png" /> 
    </platform>
 
   
    <gap:plugin name="onesignal-cordova-plugin" spec="^2.1.1" source="npm" />
    <preference name="android-build-tool" value="gradle" />

    <access origin="*" />
    <access origin="*.onesignal.com" />    
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
 
</widget>
